@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Default text color (black) */
  --background-start-rgb: 255, 255, 255; /* Default background gradient start */
  --background-end-rgb: 255, 255, 255; /* Default background gradient end */

  --primary: #007bff;
  --onPrimary: #ffffff;
  --primaryHover: #0056b3;

  --secondary: #6c757d;
  --onSecondary: #ffffff;
  --secondaryHover: #5a6268;

  --danger: #dc3545;
  --onDanger: #ffffff;
  --dangerHover: #c82333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Text color for dark mode (white) */
    --background-start-rgb: 0, 0, 0; /* Background gradient start for dark mode */
    --background-end-rgb: 34, 34, 34; /* Background gradient end for dark mode */

    --primary: #375a7f;
    --onPrimary: #ffffff;
    --primaryHover: #2c3e50;

    --secondary: #444;
    --onSecondary: #ffffff;
    --secondaryHover: #333;

    --danger: #a71d2a;
    --onDanger: #ffffff;
    --dangerHover: #8b1a22;
  }
}

body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Doto';
  src: url('/fonts/Doto-VariableFont_ROND,wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal;
}